########################
#   @                  #
#                      #
#                      #
#        ######### #   #
#     ## #  ##   ##  # #
#    #$5##    q    a#  #
#    # 4321 ##wer####  #
#    #############     #
